<!-- <h1>Interpolation</h1>

Name : {{name}};
<br>
Age : {{age}};
<br>
Email : {{email}};

<br>

<h1>Property Binding</h1>

Name : <input type="text" [value]="name"/>
<br><br>
Age : <input type="text" [value]="age"/>
<br><br>
Email : <input type="text" [value]="email"/>


<br>

<h1>Event Property</h1>

<button (click)="ChangeName()">Name</button>
<button (click)="ChangeAge()">Age</button>
<button (click)="ChangeEmail()">Email</button>

<br>
<img [src] = "imagePath" width="300" height="200" />
<br>
<button (click)="ChangeImage()">Image</button>


<br>

<h1>Two Way Data Binding</h1>
<br>
Enter Your First Name <input type="text" [(ngModel)] = "fname"/>
<br>
<b>welcome {{fname}}</b> -->

<h1 [ngClass] = "myClass">Structural and Attribute Directives </h1>
<br>
<button (click)="ChangeFlag()">Show or Hide Div</button>
<br>
<div *ngIf="flag" [ngStyle]="myStyle">
<br>
<ul>
    <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
</ul>
<br>
<b>You Have Selected : {{selectedVehicle}}</b>
<br>
<div [ngSwitch] = "selectedVehicle">
    <b style =color:green *ngSwitchCase="'TwoWheeler'">Bike</b>
    <b style =color:green *ngSwitchCase="'ThreeWheeler'">Auto</b>
    <b style=color:green *ngSwitchCase="'FourWheeler'">Car</b>
    <b style= color:green *ngSwitchDefault="none">Invalid</b>
</div>
<br>
<button (click)="ChangeStyle()">Change Style</button>
</div>


