<h1>Interpolation</h1>

Name : {{name}};
<br>
Age : {{age}};
<br>
Email : {{email}};

<br>

<h1>Property Binding</h1>

Name : <input type="text" [value]="name"/>
<br><br>
Age : <input type="text" [value]="age"/>
<br><br>
Email : <input type="text" [value]="email"/>


<br>

<h1>Event Property</h1>

<button (click)="ChangeName()">Name</button>
<button (click)="ChangeAge()">Age</button>
<button (click)="ChangeEmail()">Email</button>

<br>
<img [src] = "imagePath" width="300" height="200" />
<br>
<button (click)="ChangeImage()">Image</button>

